@import url('https://fonts.font.im/css?family=Titillium+Web');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #000;
}

*{
    margin:0;
    padding:0;
    font-family:"Titillium Web",sans-serif !important ;
    box-sizing: border-box;
}